*.java linguist-detectable=false
*.css linguist-detectable=true 
*.csharp linguist-detectable=false   
*.js linguist-detectable=true  
*.html linguist-detectable=true  
*.xml linguist-detectable=false
